.row-align {
  align-self: center;
  justify-content: space-between;
}
.vacant {
  color: rgb(11, 146, 170);
}
.counter-number {
  font-size: 1.5rem;
}
.count-input {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(68, 65, 65);
}
.btn-count {
  width: 80px;
}
.btn-box {
  width: 300px;
}
.btn-buy {
  width: 100%;
}
